.row-bordered:after {
    content: "";
    display: block;
    border-bottom: 1px solid #c0c0c0;
    margin: 0 15px;
  }

  .mt20{
    margin-top: 20px;
  }

  .add-border{
    border:1px solid black;
  }

  .hr-bottom-border{
    border-bottom: 1px solid #c0c0c0;
  }

  .card.card-outline-secondary{
    padding:13px;
    border: 1px solid #c0c0c0;
  }

  .employee-card{
    a {
      color: #000 !important;
      }
  }    

/* On the flex container */
.flexcontainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  // /* You can set flex-wrap and
  //    flex-direction individually */
   flex-direction: row;
   flex-wrap: wrap;
  // /* Or do it all in one line
  //   with flex flow */
   flex-flow: row wrap;
  /* tweak where items line
     up on the row
     valid values are: flex-start,
     flex-end, space-between,
     space-around, stretch */
  align-content: flex-end;


  .flex-item{
    padding-left: 5px;
    border: 3px solid #c0c0c0;

  }
  
  .avatar{
    border: 3px solid #c0c0c0;
  }
}


.employee-profile{
  display: flex;
  flex-direction: row;
  width:350px;
  height: 150px;
  margin-right: 10px;
  margin-bottom: 10px;

}

/* styles for '...' */ 
.block-with-text {
  overflow: hidden;
  position: relative; 
  line-height: 1.2em;
  max-height: 3.6em; 
  text-align: justify;  
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}